.mv-album-track:hover {
    background-color: beige;
    border-radius: 10%;
}
.mv-album-artist-detail:hover {
    text-decoration: underline;
}

#mv-album-page .comment-button {
    background-color: var(--mv-button-color);
    color: floralwhite;
    font-weight: 600;
}

#mv-album-page .comment-button:hover {
    background-color: antiquewhite;
    color:black;
}

.profile-username {
    text-decoration: none;
    color: black;
}

.profile-username:hover {
    text-decoration: underline;
}