#mv-profile .mv-search-button {
    background-color: var(--mv-button-color);
    color: floralwhite;
    font-weight: 600;
}

#mv-profile .mv-search-button:hover {
    background-color: antiquewhite;
    color: black;
}

#mv-profile .mv-search-card {
    background-color: floralwhite;
}

#mv-profile .profile-artist-img {
    width: 250px;
    height: 250px;

}

@media screen and (max-width: 576px) {
    #mv-profile .profile-artist-img {
        height: 340px;
        width: 340px;
    
    } 
}