#mv-home{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#mv-home .mv-home-button {
    background-color: #B5F448;
    font-weight: 600;
}

#mv-home .mv-home-button:hover {

    background-color: azure;
}
