.mv-artist-top-tracks-detail:hover {
    background-color: beige;
}

#mv-artist-page .comment-button {
    background-color: var(--mv-button-color);
    color: floralwhite;
    font-weight: 600;
}

#mv-artist-page .comment-button:hover {
    background-color: antiquewhite;
    color: black;
}

#mv-artist-image img {
    margin-right: 1rem;
}

@media screen and (max-width: 576px) {
    #mv-artist-image img {
        margin-right: none;
    }
}

#mv-artist-album .album-square {
    width: 200px;
}

@media screen and (max-width: 576px) {
    #mv-artist-album .album-square {
        width: 340px;
        align-self: center;
    }
}
